<% var url = '/items/item/' + item.id %>
<div class="<%= (item.expense ? 'item expense' : "item income") %>">
    <a href=<%= url + "/history"%> style="color:white" class="no_underline material-icons">history</a>
    <label><%= item.name %></label>
    <%= item.value %>
    <form class="hidden update" action=<%= url %>>
        <input name="value" type="text">
        <input name="submit" value="Set" type="submit">
        <input name="type" value="Add" type="submit">
    </form>
    <form class="hidden delete" method="post" action=<%= '/items/item/' + item.id + '/delete' %>>
        <input value="Delete" type="submit">
    </form>
</div>