<div class= "<%= (item.expense ? 'item expense' : "item income") %>">
    <label><%= item.name %></label>
    <%= item.value %>
    <form  class="hidden" action=<%= '1/items/item/' + item.id %>>
        <input name="value" type="text" value=<%=item.value%> >
        <input value="Save"type="submit">
    </form>
</div>