<html>
<%- include('partials/head', {}); %>
<body class="<%= (item.expense ? 'expense' : "income") %>">
<h1><%=item.name%></h1>
<table id="history">
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Value</th>
    </tr>

    <% for(var i = 0; i < history.length; i++){ %>
    <tr>
        <td><%= new Date(history[i].date).toLocaleDateString() %></td>
        <td><%= history[i].type %></td>
        <td><%= history[i].value %></td>
    </tr>
    <% } %>
</table>
</body>
</html>