<html>
<%- include('partials/head', {}); %>
<body>
<a href="javascript:history.back()" class="no_underline inline material-icons">arrow_back</a>

<%- include('partials/header', {}); %>
<%- include('partials/item_value_static', {item: item}); %>
<table id="history">
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Value</th>
    </tr>

    <% for(var i = 0; i < history.length; i++){ %>
    <tr>
        <td><%= new Date(history[i].date).toLocaleDateString() %></td>
        <td><%= history[i].type %></td>
        <td><%= history[i].value %></td>
    </tr>
    <% } %>
</table>
</body>
</html>