<!DOCTYPE html>
<html>

<%- include('./partials/head', {}); %>

<body>
<%- include('./partials/header', {}); %>
<div class="selector_month incrementable">
    <div class="option previous"><</div>
    <h2 id="value"><%= date.toLocaleString("en-us", {month: "long"}) %></h2>
    <div class="option next">></div>
</div>
<div class="selector_year incrementable">
    <div class="option previous"><</div>
    <h2 id="value"><%= date.getFullYear() %></h2>
    <div class="option next">></div>
</div>
<div id="loading">Loading...</div>
<div id="items">
</div>
<%- include('./partials/button_add'); %>

<%- include('./partials/total_monthly', {items: items}); %>

<div id="bottom-menu_add_item" class="hidden bottom-menu">
    <div class="content">
        Add Item
        <form id="form_add_item">
            Name<br>
            <input name="name" type="text">
            <br>
            Expense<br>
            <input name="expense" type="checkbox"><br>
            <input class="input_alternate" type="submit" value="Add">
        </form>
    </div>
</div>
<div id="history" class="hidden">
    Hello
</div>

</body>
</html>

<script>
    $().ready(() => {
        /*
        Set starting date and fetch.
         */

        var date = new Date();
        setMonthByIndex(date.getMonth());
        setYear(date.getFullYear());
        fetch();

        $('#button_add').click((event) => {
            event.stopPropagation();
            $('#bottom-menu_add_item').slideToggle();
        });
        $('#bottom-menu_add_item').click((event) => {
            event.stopPropagation();
        });
        $('body').click(() => {
            $('#bottom-menu_add_item').slideUp();
        });

        //Handlers for changing month and year.

        $('.selector_year .option.previous').click((event) => {
            event.stopPropagation();
            setYear(getYear() - 1);
            fetch();
        });
        $('.selector_year .option.next').click((event) => {
            event.stopPropagation();
            setYear(parseInt(getYear()) + 1);
            fetch();
        });
        $('.selector_month .option.previous').click((event) => {
            event.stopPropagation();
            var monthIndex = parseInt(getMonthIndex()) - 1;
            //handle wrap
            if (monthIndex < 0) {
                monthIndex = 11;
            }
            setMonthByIndex(monthIndex);
            fetch();
        });
        $('.selector_month .option.next').click((event) => {
            event.stopPropagation();
            var monthIndex = parseInt(getMonthIndex()) + 1;
            //handle wrap
            if (monthIndex > 11) {
                monthIndex = 0;
            }
            setMonthByIndex(monthIndex);
            fetch();
        });

        //Handlers for adding a new item.
        $('#form_add_item').submit((event) => {
            event.preventDefault();
            var queryString = `?month=${getMonthIndex()}&year=${getYear()}`
            $.post('items' + queryString, $('#form_add_item').serialize())
                .then((response) => {
                    $('#items').append(response);
                    $('#bottom-menu_add_item').slideUp();
                })
                .fail((xhr) => {
                    if (xhr.status == 309) {
                        window.location.replace('/');
                    }
                })
        });
        $('#items').on('click', '.item a', (event) => {
            event.stopPropagation();
        });
        //Handlers for updating / deleting items.
        $('#items').on('click', '.item form.update input[type=submit]', handleItemUpdate);

        $('#items').on('submit', '.item form.delete', handleItemDelete);


        $('#items').on('click', '.item', handleItemClick);
        $('#items').on('click', '.item form', (event) => {
            event.stopPropagation();
        });


    })
    ;

    function handleItemClick(event) {
        $(this).find('.hidden').slideToggle();
    }

    function handleItemDelete(event) {
        event.preventDefault();
        $.post($(this).attr('action'), {})
            .done((response) => {
                $(this).parent().remove();
                updateTotal();
            });
    }

    function handleItemUpdate(event) {
        var submit = $(this).attr('value');
        event.preventDefault();
        $.post($(this).parent().attr('action'), $(this).parent().serialize() + '&submit=' + submit)
            .done((response) => {
                updateTotal();
                $(this).parent().parent().replaceWith(response);
            })
            .fail((xhr, status, err) => {
                if (xhr.status == 309) {
                    window.location.replace('/');
                }
            })

    }

    function getMonthIndex() {
        return MONTHS.indexOf(getMonth());
    }

    function getMonth() {
        return $('.selector_month #value').text();
    }

    function getYear() {
        return $('.selector_year #value').text();
    }

    function setMonthByIndex(monthIndex) {
        setMonth(MONTHS[monthIndex]);
    }

    function setMonth(month) {
        $('.selector_month #value').text(month)
    }

    function setYear(year) {
        $('.selector_year #value').text(year)
    }

    //Use the set month and year to get data from server, set.
    function fetch() {
        var items = $('#items');
        var queryString = `?month=${getMonthIndex()}&year=${getYear()}`;

        $('#loading').slideDown();
        items.slideUp(() => {
            $.get('/items' + queryString, {})
                .done((response) => {
                    $('#loading').slideUp();
                    items.html(response);
                    items.slideDown();
                    updateTotal();
                })
                .fail((xhr) => {
                    if (xhr.status == 309) {
                        window.location.replace('/');
                    }
                });
        });

    }

    function updateTotal() {
        $('#total').slideUp();
        console.dir('here');
        var queryString = `?month=${getMonthIndex()}&year=${getYear()}`;
        console.dir('yo');
        $.get('/items/total' + queryString, {})
            .done((response) => {
                $('#total').slideDown();
                $('#total').html(response);
            })
            .fail((xhr) => {
                if (xhr.status == 309) {
                    window.location.replace('/');
                }
            })

    }
</script>